body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.game {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.card {
    position: relative;
}

.hidden::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: blue;
    left: 0;
    top: 0;
}
.visible::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: transparent;
    left: 0;
    top: 0;
}